:root{
    --accent-color: #46A358;
    --accent-color-transparent: rgba(70,163,88, 0.5);
    --secondary-color: #3D3D3D;
    --main-color:#ffffff;
    --bg-secondary-color:#FBFBFB;
    --font-sm:14px;
    --font-md:16px;
    --font-xl:18px;
    --content-width:1200px;
}

body{
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md)
}

a {
    font-size: var(--font-md);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
}

/*.container{*/
/*    display: flex;*/
/*}*/


/*Header*/


.header{
    margin-top: 30px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent-color-transparent);
    padding-bottom: 18px;
    width: 1200px;
}

.header__logo,.header__controls{
    max-width: 150px;
    min-width: 150px;
}

.header__controls{
    text-align: end;
}

.header-button{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: var(--font-sm);
    padding-top: 10px;
    width: 100px;
    height: 35px;
    background-color: mediumseagreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    left: 1100px;
}

.header__logo:hover{
    transition: 1s;
    transform: rotateX(360deg);
}

.header__nav ul{
    display: flex;
    gap: 50px;
    font-weight: var(--font-md);
}

.nav-list{
    display: flex;
    column-gap: 20px;
}


.header__menu{
    display: flex;
}


.header_link-1{
    font-weight: bold;
    border-bottom: 3px solid mediumseagreen;
    padding-bottom: 10px;
}

.header_link-1,
.header_nav li:hover{
    font-weight: bold;
    border-color: mediumseagreen;
}

.header nav li{
    border-bottom:3px solid transparent;
    padding-bottom: 5px;
    text-align: center;
}


.btn{
    padding: 8px 17px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    border: 1px solid transparent;
    transition:0.3s;
}


.catalog__btn{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 5px 17px;
    border-radius: 10px;
    cursor: pointer;
    background:var(--accent-color);
    font-weight: bold;
    color: white;
    border: 1px solid var(--accent-color);
    transition:0.3s;
    width: 140px;
    height: 40px;
    top: 216px;
    left: 416px;
}

.btn:hover{
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn.btn-success{
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.btn.btn-success:hover{
    background: var(--secondary-color);
    border-color: var(--accent-color);
}





   /*Middle content*/

.product_subtitle{
    font-weight: bold;
    width: 150px;
    height: 48px;
    top: 89px;
    left: 406px;
    gap: 10px;
}


.container__wrap{
    display: flex;
    max-width: var(--content-width);
    gap: 10px;
}


.products{
    margin: 69px 119px 68px
}


.container{
    max-width: var(--content-width);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
}

.container_blog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container__middle-title{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    max-width: 100%;
    height: 5px;
    font-size: 23px;
    margin-bottom: 20px;
}

.container__middle-text{
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



.container__read-more-1{
    display: flex;
    font-weight: bold;
    padding-bottom: 5px;
}

.container__read-more-1,
.container__read-more:hover{
    font-weight: bold;
}

.container__read-more{
    display: flex;
    padding-bottom: 5px;
    text-align: center;
}

.container__arrow{
    vertical-align: middle;
}

.before::before{
    content: "|";
    color: var(--accent-color)
}


.container__catalog-content{
    margin-left: 100px;
}

.catalog__btn{
    transform: translateX(350px) ;
}


/*Lower content*/


.container__blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1300px;
    gap: 40px;
}

.container__date{
    color: var(--accent-color);
    margin-top: 10px;
    margin-bottom: 5px;
    height: 16px;
    font-weight: bold;
}

.container__title{
    display: flex;
    justify-content: right;
    align-items: end;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    width: 189px;
    height: 52px;
}

.container__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}






/*.catalog__title{*/
/*    max-width: 150px;*/
/*    height: 48px;*/
/*    margin-left: 300px;*/
/*    transform: translateX(80px);*/
/*}*/




/*.container__catalog-content{*/
/*    display: flex;*/
/*   flex-wrap: wrap;*/
/*}*/





/*.container__text{*/
/*    margin-bottom: 10px;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*}*/




/*

.container__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.container__catalog-image{
    max-width: 100%;
}

.container__catalog-plants{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
}

.container__item1{
    border: 1px solid black;
    background-color: gold;
}

.container__content-right{
    background-color: gold;
}*/


/*.catalog{*/
/*!*    display: flex;*!*/
/*!*    flex-wrap: wrap;*!*/
/*!*}*!*/



