:root{
    --accent-color: #46A358;
    --accent-color-secondary: rgba(70, 163, 88, 0.84);
    --accent-color-transparent: rgba(70,163,88, 0.5);
    --secondary-color: #3D3D3D;
    --main-color:#ffffff;
    --bg-secondary-color:#FBFBFB;
    --font-sm:14px;
    --font-md:16px;
    --font-xl:18px;
    --content-width:1200px;
}

body{
    font-family: "Cera Pro DEMO", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: var(--font-md)
}

a {
    font-size: var(--font-md);
    color: var(--secondary-color);
    text-decoration: none;
    display: inline-block;
}


/*Header*/


.header{
    margin-top: 30px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--accent-color-transparent);
    padding-bottom: 18px;
    width: 1200px;
    margin-bottom: 150px;
}

.header__logo,.header__controls{
    max-width: 150px;
    min-width: 150px;
}

.header__controls{
    text-align: end;
}


.header__logo:hover{
    transition: 1s;
    transform: rotateX(360deg);
}

.header__nav ul{
    display: flex;
    gap: 50px;
    font-weight: var(--font-md);
}

.header nav .active,
.header__content nav li:hover{
    font-weight: bold;
    border-color:var(--accent-color);
    padding-bottom: 5px;
}

.header nav li{
  border-bottom: 2px solid transparent;
    padding-bottom: 5px;
text-align: center;
    min-width: 85px;
    letter-spacing: -1px;
}



.nav-list{
    display: flex;
    column-gap: 30px;
}


.header__menu{
    display: flex;
}

.header-button{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: var(--font-sm);
    padding-top: 10px;
    width: 100px;
    height: 35px;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    left: 1100px;
}


.btn{
    padding: 8px 17px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    transition:0.3s;
    border: 2px solid transparent;
}

.btn:hover{
    background: var(--accent-color-secondary);
    border-color: 1px solid var(--accent-color-secondary);
}


.btn.btn-success{
    background: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.btn.btn-success:hover{
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.catalog__btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
    border-radius: 10px;
    cursor: pointer;
    background:var(--accent-color);
    font-weight: bold;
    color: white;
    border: 1px solid var(--accent-color);
    transition:0.3s;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    top: 500px;
    left: 50%;
}


   /*Middle content*/

.product_subtitle{
    font-weight: bold;
    width: 150px;
    height: 48px;
    top: 89px;
    left: 406px;
    gap: 10px;
}


.container__wrap{
    display: flex;
    margin-bottom: 80px;
    max-width: var(--content-width);
    gap: 30px;
}


.products{
    margin: 69px 119px 68px
}


.container{
    max-width: var(--content-width);
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
}

.container__text{
    color: var(--secondary-color);
}


.container_blog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container__middle-title{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;
    max-width: 100%;
    height: 5px;
    font-size: 23px;
    margin-bottom: 30px;
}

.container__middle-text{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}



.container__read-more-1{
    display: flex;
    font-weight: bold;
    padding-bottom: 5px;
}

.container__read-more-1,
.container__read-more:hover{
    font-weight: bold;
}

.container__read-more{
    display: flex;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;
}

.container__arrow{
    vertical-align: middle;
}

.before::before{
    content: "|";
    color: var(--accent-color)
}


.container__catalog-content{
   display: flex;
    flex-direction: column;
    margin-top: 90px;
}



/*Lower content*/

.container__wrap{
    display: flex;
    max-width: var(--content-width);
    gap: 30px;
}

.container__content{
    display: flex;
    max-width: var(--content-width);
    flex-wrap: wrap;
    gap: 5px;
}


.container__blocks{
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
    max-width: 1300px;
    gap: 40px;
}

.container__date{
    color: var(--accent-color);
    margin-top: 10px;
    margin-bottom: 5px;
    height: 16px;
    font-weight: bold;
}

.container__title{
    display: flex;
    justify-content: right;
    align-items: end;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 4px;
    width: 189px;
    height: 52px;
}








